{% load static %}  
<html>    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name = "viewport" content="width=device-width,initial-scale=1.0">    
    <title>Partie Administrateur</title>    
    <link rel="stylesheet" type="text/css" href="{%static  'css/bootstrap.css'%}">
</head> 
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">IA School</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'firstpage' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login0' %}">Administrateurs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login1' %}">Enseignants</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="{% url 'login2' %}">Eleves</a>
          </li>
        </ul>
      </div>
    </div>
   </div>
  </nav>
    {% block conttent %}
    {% endblock  %}
    <script src="{%static 'js/jquery.js'%}"></script> 
    <script src="{%static 'js/bootstrap.js'%}"></script>
    <script src="{%static 'js/popper.js'%}"></script> 
</body>
</html>


