{% extends 'page.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-4">
        <h4 style="margin:auto" class="text-center alert alert alert-info">Add a new Student</h4>
             <form style="margin:auto" action="" method = "POST">
                 {%csrf_token%}
                 {{form.as_p}}
                 <input type ="submit" class="btn btn-success" value ="Add">
                 <a href =" {% url 'classpage' %}" class = "btn btn-primary">Next</a>
             </form>
    </div>
</div>
{%endblock content%}