{% extends "base1.html" %}
{% block conttent %}
<div class="container mt-5 mb-5">
    <div class="row" mt-5 mb-5>
        <div class="col-lg-6 shadow p-4"></div>
        <h3>Connectez-vous en ajoutant :</h3>
        <form>
        <div class="form-group">
            <label for="exampleInputPassword1">Matricule</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
        <button type="submit" class="btn btn-primary">Connexion</button>
      </form>
        </div>
    </div>
</div>
{% endblock %}