{% extends "base1.html" %}
{% block conttent %}
<div class="container mt-5 mb-5">
    <div class="row" mt-5 mb-5>
      <div class="col-lg-6 shadow p-4"></div>
        <h3>Connectez-vous en ajoutant :</h3>
        <form class="d-flex" role="search">
          <input class="form-control me-2" name = "p" type="search" placeholder="Matricule" aria-label="Search"></br>
          <br><br>
          <button class="btn btn-outline-success" type="submit">connexion</button>
        </form>
      </div>
    </div>
</div>
{% endblock %}