{% load static %}  
<html>    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name = "viewport" content="width=device-width,initial-scale=1.0">    
    <title>Partie Administrateur</title>    
    <link rel="stylesheet" type="text/css" href="{%static  'css/bootstrap.css'%}">
</head>    
<body>
    <div class="container mt-5">   
        <h2 class="text-center alert alert-danger">Administrator Page</h2><br>  
        {% block content%}   {% endblock content%}
    </div>
    <script src="{%static 'js/jquery.js'%}"></script> 
    <script src="{%static 'js/bootstrap.js'%}"></script>
    <script src="{%static 'js/popper.js'%}"></script> 
</body>     
</html>     
