{% extends 'page.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a  href="{% url 'enspage'  %}" class="navbar-brand">IA School</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" name = "q" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Matricule</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Email</th>
        <th scope="col">Place Birth</th>
        <th scope="col">Place Birth</th>
        <th scope="col">Classe</th>
      </tr>
    </thead>
    <tbody>
      {% for st in data %}
      <tr>
        <td>{{st.Matricule}}</td>
        <td> {{st.Name}} </td>
        <td>{{st.Surname}}</td>
        <td> {{st.Email}} </td>
        <td> {{st.date_birth}} </td>
        <td> {{st.place_birth}} </td>
        <td> {{st.classe}} </td>
        <td>
          <a href="{% url 'updatedata' st.Matricule %}" class="btn btn-outline-info">Mdify</a>
          <form action=" {% url 'deletedata' st.Matricule%} " method ="POST" class = "d-inline">
            {%csrf_token%}
            <input type ="submit" class = "btn btn-outline-danger" value = "Delete">
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock%}
